@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/RobotoCondensed-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*  */
    --background-color: #222831;
    --board-color: #393E46;
    --font-color: #DFD0B8;

    /* reset button */
    --reset-font-color: #393E46;
    --reset-background-color: #DFD0B8;
    --reset-hover-color: #D2BD9C;
    --reset-active-color: #C7AC83;

    /* cell */
    --cell-hover-color: #333d4a;
    --cell-active-color: #455163;

    /* display */
    --display-border-color: #393E46;

    /* input */
    --input-color: #948979;
    --input-background-color: #1f242c;
}

body {
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: "Roboto Condensed", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.container input {
    padding: 0.8rem;
    background-color: var(--input-background-color);
    color: var(--input-color);
    border: none;
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;
}

.container .player {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.player .score {
    font-size: 10rem;
    font-weight: 700;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main .display {
    text-align: center;
    border: 1px solid var(--display-border-color);
    padding: 1em;
}

main .gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.gameboard .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--board-color);
    color: var(--font-color);
    font-size: 5em;
    transition: background-color 0.2 ease;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

.cell:hover {
    background-color: var(--cell-hover-color);
}

.cell:active {
    background-color: var(--cell-active-color);
}

main .reset {
    border-radius: 8px;
    background-color: var(--reset-background-color);
    color: var(--reset-font-color);
    font-weight: 700;
    font-size: 1em;
    margin: 2em 4em;
    padding: 1em;
    transition: background-color 0.2 ease transform 0.2s ease;
}

.reset:hover {
    transform: scale(1.05);
    background-color: var(--reset-hover-color);
}

.reset:active {
    background-color: var(--reset-active-color);
}